
<div class='newform'>
<%=  form_for @post, :html => {:multipart => true} do |f| %>
<div>
  <%= f.label :title %><br>
  <%= f.text_field :title %>
</div>
<div>
  <%= f.label :description %><br>
  <%= f.text_field :description %>
</div>
<div>
  <%= f.label :image %><br>
  <%= f.cl_image_upload :image, :required => true, :class => 'cloud'%><br>
</div>
<div>
  <%= f.submit %>
</div>
</div>
<% end %>
